Hi, <br>
{$user->name}<br>
<br>
Congratulations! Your account has been successfully activated.<br>
Now login at: http://www.trafficmonitor.ca/auth/login and start creating custom triggers for your website.<br>
<br>
Follow the below guideline to avoid your account suspension:<br>
- Don’t use adult tag line or mislead to audience.<br>
- Don’t Post the link in forum websites.<br>
- Don’t do any type of spamming like excessive mentioning, tagging or running script similar like this.<br>
- Don’t Try to provide traffic by self clicking or using script for the same.<br>
<br>
To understand in details, Read FAQs: http://c<br>
If still you have a query then mail us on: info@trafficmonitor.ca<br>
<br>
Happy sharing!<br>
<br>
Regards,<br>
TrafficMonitor.ca<br>
