<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
                <div class="row">

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-line-chart"></i> Data
                            </a>
                            <a href="/member/all" class="list-group-item"><i class="fa fa-users fa-2x"></i>  Users <span class="badge">{echo Shared\Markup::nice_number(User::count())}</span></a>
                            <a href="/detector/approve" class="list-group-item"><i class="fa fa-tasks fa-2x"></i>  Triggers <span class="badge">{echo Shared\Markup::nice_number(Trigger::count())}</span></a>
                            <a href="/platform/all" class="list-group-item"><i class="fa fa-globe fa-2x"></i>  Websites <span class="badge">{echo Shared\Markup::nice_number(Website::count())}</span></a>
                            <a href="/fakereferer/all" class="list-group-item"><i class="fa fa-link fa-2x"></i>  FakeReferer <span class="badge">{echo Shared\Markup::nice_number(Referer::count())}</span></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-pie-chart"></i> Total Statistics
                            </a>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-pie-chart"></i> Monitor
                            </a>
                            <a href="/admin/search?model=user&key=live&sign=equal&value=1" class="list-group-item"><i class="fa fa-user-secret fa-2x"></i>  Admins <span class="badge">{echo Shared\Markup::nice_number(User::count(array("admin = ?" => true)))}</span></a>
                        </div>
                    </div>                    

                </div>
            </div>
        </div>
    </div>
</div>
