<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-anchor"></i> Manage FakeReferred URLs</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <h4 class="pull-left">Total: <span class="label label-primary">{echo $count}</span><h4>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Destination URL</th>
                            <th>Shortened URL</th>
                            <th>Referer</th>
                            <th>Status</th>
                            <th>Created</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {script $i = 1} {foreach $r in $referers}
                        <tr>
                            <td>{echo $i}</td>
                            <td>{echo $r->title}</td>
                            <td>{echo $r->url}</td>
                            <td>{echo $r->short_url}</td>
                            <td>{echo $r->referer}</td>
                            {if $r->live}
                            <td>
                                <div class="label label-success">Approved</div>
                            </td>
                            {/if} {else}
                            <td>
                                <div class="label label-warning">Unapproved</div>
                            </td>
                            {/else}
                            <td>{echo Framework\StringMethods::only_date($r->created)}</td>
                            <td>
                                {if !$r->live}
                                <a href="/fakereferer/edit/{echo $r->id}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</a>
                                {/if}
                                <a href="/fakereferer/remove/{echo $r->id}" class="delete btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete</a>
                            </td>
                        </tr>
                        {script ++$i} {/foreach}
                    </tbody>
                </table>
                <div class="">
                    <div class="text-center">
                    {if($page != 1)}
                        <a href="{echo Shared\Markup::pagination($page - 1)}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Previous</a>
                    {/if}
                    {if($page < $count/$limit)}
                        <a href="{echo Shared\Markup::pagination($page + 1)}" class="btn btn-primary">Next <i class="fa fa-arrow-right"></i></a>
                    {/if}
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>
