<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br>
                <h1 class="display-4">Features</h1>
                <p class="lead text-justify">All in one place for tracking your and competion digital presence.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 col-xs-12 text-xs-center">
                <img src="/public/assets/images/fakereferer.png" class="img-fluid">
            </div>
            <div class="col-md-6 col-xs-12">
                <h2>FakeReferer</h2>
                <p class="text-justify">
                    With our unique system we offer method to hide your traffics original Referer. Blanked, Faked or Spoofed. We can change Referrers to Google Search with Keywords & Ranking Position. Blank 100% of referrers in ALL browsers using SSL and HTTPS Redirection!
                </p>
            </div>
            <div class="col-xs-12 clearfix">
                <hr>
            </div>
            <div class="col-md-6 col-xs-12">
                <h2>Detector</h2>
                <p class="text-justify">
                    Trigger any action for your website and see vistors in live with logs.
                </p>
            </div>
            <div class="col-md-6 col-xs-12 text-xs-center">
                <img src="/public/assets/images/detector.png" class="img-fluid">
            </div>
            <div class="col-xs-12 clearfix">
                <hr>
            </div>
        </div>
    </div>
</section>
