<header id="first">
    <div class="header-content">
        <div class="inner">
            <h2>What is TrafficMonitor?</h2>
            <h5 class="wow fadeIn text-normal">Trigger any action for your website visitor by Tracking</h5>
            <hr>
            <a href="/auth/register" class="btn btn-primary-outline btn-xl page-scroll wow fadeInUp">Get Started</a>
        </div>
    </div>
</header>
<section id="one">
    <div class="container wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"> 
        <h2 class="text-primary text-center">Available Features</h2>
        <hr class="primary text-center">
        <br>
        <div class="card-deck-wrapper row">
            <div class="card-deck col-md-12">
                <!-- card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="/public/assets/images/serp.png" alt="Rank Watch">
                    <div class="card-block">
                        <h4 class="card-title">Rank Watch</h4>
                        <p class="card-text">Calculates all your keyword rankings accurately, whether you have 50 or 50,000 keywords, we will display your current rank on Google.</p>
                    </div>
                </div>
                <!-- card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="/public/assets/images/fake.png" alt="Fake Referer">
                    <div class="card-block">
                        <h4 class="card-title">FakeReferer</h4>
                        <p class="card-text">Hide your traffics original Referer. Blanked, Faked or Spoofed. We can change Referrers to Google Search with Keywords & Ranking Position.</p>
                    </div>
                </div>
                <!-- card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="/public/assets/images/trigger.png" alt="Detector">
                    <div class="card-block">
                        <h4 class="card-title">Detector</h4>
                        <p class="card-text">Trigger any action for(Repeat Visitor, JS - PHP execution) on any website with a simple installable code.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<aside class="bg-alt" id="two">
    <div class="container text-center">
        <div class="row wow fadeInUp">
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <h3>Serp</h3>
                <i class="icon-lg ion-ios-speedometer-outline wow pulse"></i>
                <h1 class="text-primary">Keywork Tracker</h1>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <h3>Detector</h3>
                <i class="icon-lg ion-ios-location-outline wow pulse"></i>
                <h1 class="text-primary">Trigger Action</h1>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <h3>FakeReferer</h3>
                <i class="icon-lg ion-ios-pulse wow pulse"></i>
                <h1 class="text-primary">Google as Referer</h1>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <h3>Social</h3>
                <i class="icon-lg ion-ios-game-controller-b-outline wow pulse"></i>
                <h1 class="text-primary">URL Track</h1>
            </div>
        </div>
        <hr>
        <br>
    </div>
</aside>
