<body class="bg-faded">
    <header id="first">
    <div class="header-content">
        <div class="inner">
            <h2>What is TrafficMonitor?</h2>
            <h5 class="wow fadeIn text-normal">Trigger any action for your website visitor by Tracking</h5>
            <hr>
            <a href="/auth/register" class="btn btn-primary-outline btn-xl page-scroll wow fadeInUp">Get Started</a>
        </div>
    </div>
</header>

<aside class="bg-alt" id="two">
    <div class="container text-center">
        <h2 class="text-primary">The Grid is More Flexible</h2>
        <hr class="primary">
        <br>
        <div class="row wow fadeInUp">
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <h3>Start</h3>
                <i class="icon-lg ion-ios-speedometer-outline wow pulse"></i>
                <h1 class="text-primary">100</h1>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <h3>Migrate</h3>
                <i class="icon-lg ion-ios-location-outline wow pulse"></i>
                <h1 class="text-primary">3421</h1>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <h3>Build</h3>
                <i class="icon-lg ion-ios-pulse wow pulse"></i>
                <h1 class="text-primary">4%</h1>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <h3>Play</h3>
                <i class="icon-lg ion-ios-game-controller-b-outline wow pulse"></i>
                <h1 class="text-primary">50%</h1>
            </div>
        </div>
        <hr>
        <br>
    </div>
</aside>