<section id="one">
    <div class="container wow fadeInUp">
        <div class="row">
            <h2 class="text-center text-primary">Packages</h2>
            <hr class="primary">
            <div class="">
                {foreach $p in $packages}
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">{echo $p['name']}</h4>
                        <p class="card-text">
                            Price : ${echo $p['price']}
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{echo $p['item']}</li>
                    </ul>
                    <div class="card-block">
                        <a href="/auth/register/{echo $p['id']}" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
    </div>
</section>
