<section id="one">
    <div class="container wow fadeInUp">
        <h2 class="text-center text-primary">Packages</h2>
        <hr class="primary">
        <div class="card-group">
            {foreach $p in $packages}
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{echo $p['name']}</h4>
                    <p class="card-text">
                        {echo $p['item']}
                        {echo $p['price']}
                    </p>
                </div>
            </div>
            {/foreach}
        </div>
    </div>
</section>