{include marketing/modals/createGroup.html}
<div id="page-wrapper">
    <div class="row col-lg-12">
        <h1 class="page-header text-center">Create Newsletter</h1>
        {if isset($success)}
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            Newsletter Scheduled <strong>Successfully!</strong> click <a href="/marketing/manageNewsletter">here</a> for status
        </div>
        {/if}
        <div class="row">
            <form class="form" method="post" action="">
                <label>User Group</label>
                <div class="form-group">
                    {foreach $g in $groups}
                    <label class="radio-inline">
                        <input type="radio" name="user_group" value="{echo $g->id}"> {echo $g->name}
                    </label>
                    {/foreach}
                    <a href="#" data-toggle="modal" class="btn btn-primary btn-xs pull-right" data-target="#createGroup"><i class="fa fa-plus"></i> Create Group</a>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text" name="subject" class="form-control" maxlength="64" required="">
                            <small class="help-text">Length less than 64 characters for best practices. see for <a href="http://kb.mailchimp.com/campaigns/previews-and-tests/best-practices-for-email-subject-lines" target="_blank">details</a></small>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label>Scheduled Date</label>
                            <input type="date" name="scheduled" class="form-control" placeholder="YYYY-MM-DD">
                            <small class="help-text">Format Should be eg. YYYY-MM-DD</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Message Body</label>
                    <textarea name="body" class="form-control"></textarea>
                </div>
                <input type="hidden" name="action" value="createNewsletter">
                <button type="submit" class="btn btn-primary pull-right">Schedule</button>
            </form>
        </div>
        <div class="row">
            <legend>Notes</legend>
            <p>Best Scheduling Day is Tuesday</p>
            <p>Best Scheduling Time is between 6 AM to 6 PM</p>
            <p>Use Tracking code on any link : <code>?utm_campaign=newsletter&amp;utm_medium=email</code></p>
        </div>
    </div>
</div>