<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Packages</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Item</th>
                            <th>Price + Tax</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {foreach $p in $packages}
                        <tr>
                            <td>{$p->name}</td>
                            <td>{echo print_r(json_decode($p->item))}</td>
                            <td>{echo $p->price} + {echo $p->tax}</td>
                            <td></td>
                        </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>