<!-- Modal -->
<div class="modal fade" id="createGroup" tabindex="-1" role="dialog" aria-labelledby="Create a Group">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Group</h4>
            </div>
            <div class="modal-body">
                <form class="form" method="post" action="/marketing/createGroup">
                    <div class="form-group">
                        <label for="Group Name">Group Name</label>
                        <input type="text" class="form-control" name="name" required="" maxlength="50">
                    </div>
                    <input type="hidden" name="action" value="createGroup">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
