<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard <small>Statistics Overview</small></h1>
            </div>
        </div>
        <div class="row">
            {if isset($url)}
            <div class="alert alert-info alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> <h4>Welcome to TrafficMonitor!!</h4> <p>Log In to your Google account to see status</p> <a href="{echo $url}" class="btn btn-success"><i class="fa fa-google"></i> Sign in to your Google Account</a> <a href="mailto:info@trafficmonitor.ca" class="btn btn-default">Contact Us</a> </p> </div>
            {/if}

            {if isset($results)}
                {echo "<pre>". print_r($results, true). "</pre>"}
            {/if}
        </div>
    </div>
</div>
