<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"><i class="fa fa-map-signs"></i> SiteMap <small>Statistics</small></h2>
            </div>
        </div>
        <div class="row">
            {if isset($url)}
            <div class="alert alert-info alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> <h4>Welcome to TrafficMonitor!!</h4> <p>Log In to your Google account to see status</p> <a href="{echo $url}" class="btn btn-success"><i class="fa fa-google"></i> Sign in to your Google Account</a> <a href="mailto:info@trafficmonitor.ca" class="btn btn-default">Contact Us</a> </p> </div>
            {/if} {elseif isset($response)}
            <form class="form-inline text-center" role="form" id="">
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only">Websites</label>
                        <select name="website" id="" class="form-control">
                            {foreach $w in $websites}
                            <option value="{echo $w->getSiteUrl()}">{echo $w->getSiteUrl()}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Analyze</button>
            </form>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Stats - <strong>{echo $current}</strong>
                </div>
                <table class="panel-body table">
                    <thead>
                        <tr>
                            <th>Path</th>
                            <th>Warnings</th>
                            <th>Errors</th>
                            <th>Pending</th>
                            <th>Last Downloaded</th>
                            <th>Last Submitted</th>
                            <th>Contents</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $r in $response}
                        <tr>
                            <td>{echo $r->path}</td>
                            <td>{echo $r->warnings}</td>
                            <td>{echo $r->errors}</td>
                            <td>{echo ($r->pending) ? "Yes" : "No"}</td>
                            <td>{echo Framework\StringMethods::only_date($r->lastDownloaded)}</td>
                            <td>{echo Framework\StringMethods::only_date($r->lastSubmitted)}</td>
                            {foreach $c in $r->contents}
                            <td>{echo "Submitted: ". $c->submitted. ", Indexed: ". $c->indexed}</td>
                            {script break}
                            {/foreach}
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
            {/elseif} {else}
                <pre>{echo $message}</pre>
            {/else}
        </div>
    </div>
</div>
