<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-center"><i class="fa fa-codiepie"></i> Manage Social Links</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {if isset($message)}
                <div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    "Stats are Updated Daily"
                </div>
                {/if}
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>S. No.</th>
                                    <th>Link</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {script $social = Framework\Registry::get("MongoDB")->socials} {script $i = 1} {foreach $s in $socials}
                                <tr>
                                    <td>{echo $i}</td>
                                    <td>{echo $s->link}</td>
                                    <td>
                                        {if $s->live}
                                        <span class="label label-success">Active</span> {/if} {else}
                                        <span class="label label-danger">Disabled</span> {/else}
                                    </td>
                                    <td>
                                        <a href="/social/stats/{echo $s->id}" class="btn btn-primary btn-xs"><i class="fa fa-label"></i> View Stats</a>
                                        {if $s->live}
                                        <a href="/social/changeState/{echo $s->id}/0" class="btn btn-warning delete btn-xs"><i class="fa fa-ban"></i> Disable</a>
                                        {/if} {else}
                                        <a href="/social/changeState/{echo $s->id}/1" class="btn btn-success delete btn-xs"><i class="fa fa-check"></i> Enable</a>
                                        {/else}
                                    </td>
                                </tr>
                                {script ++$i} {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
                <a href="/social/create" class="btn btn-primary"><i class="fa fa-plus"></i> Add Another</a>
            </div>
        </div>
    </div>
</div>
