<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-center"><i class="fa fa-hashtag"></i> Manage Triggers</h2>
				<h3 class="text-center"><a href="{echo 'http://'. urldecode($website->url)}" target="_blank"><i class="fa fa-codiepie"></i> {echo $website->title}</a></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-modx fa-fw"></i> Active Triggers</h3>
                    </div>
                    {if ($triggers)}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                	<th>S. No.</th>
                                    <th>Title</th>
                                    <th>Meta</th>
                                    <th>Action to be Taken</th>
                                    <th>Action Inputs</th>
                                    <th>Status</th>
                                    <th>Hits</th>
                                    <th>Tools</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{script $i = 1}
                                {foreach $trigger in $triggers}
                                <tr>
                                	<td>{$i}</td>
                                    <td>{echo $trigs["$trigger->title"]["title"]}</td>
                                    <td>{$trigger->meta}</td>
                                    {script $action = Action::first(array("trigger_id = ?" => $trigger->id))}
                                    <td>{echo $actions["$action->title"]["title"]}</td>
                                    <td>{echo htmlspecialchars($action->inputs)}</td>
                                    <td>
                                        {if $trigger->live}
                                        <span class="label label-success">Active</span>
                                        {/if} {else}
                                        <span class="label label-danger">Disabled</span>
                                        {/else}
                                    </td>
                                    <td class="trigger" data-trigger="{$trigger->id}" data-action="{echo $action->id}">
                                        <span class="label label-info">Click ME !!</span>
                                    </td>
                                    <td>
                                        <a href="/detector/edit/{echo $trigger->id}" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Edit</a>
                                        <a href="/detector/remove/{echo $trigger->id}/{echo $action->id}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a>
                                    </td>
                                </tr>
                                {script ++$i}
                                {/foreach}
                            </tbody>
                        </table>
                    </div>
                    {/if} {else}
                    <div class="panel-body">
                        <p>Hi, you have not added any triggers for this website.</p>
                    </div>
                    {/else}
                </div>
                <a href="/detector/create/{echo $website->id}" class="btn btn-info"><i class="fa fa-plus-circle"></i> Add Another Trigger</a>
            </div>
        </div>

    </div>
</div>
