<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Subscriptions</h3>
                <div class="panel panel-default">
                    {if ($subs)}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Created</th>
                                    <th>Expiry</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $s in $subs}
                                {script $item = Item::first(array("id = ?" => $s->item_id), array("name"))}
                                <tr>
                                    <td>{$item->name}</td>
                                    <td>{echo Framework\StringMethods::only_date($s->created)}</td>
                                    <td>{echo Framework\StringMethods::only_date($s->expiry)}</td>
                                    <td>
                                        {if(strtotime($s->expiry) > strtotime("now"))}
                                        <a href="#" class="btn btn-xs btn-primary">Extend</a>
                                        {/if} {else}
                                        <a href="#" class="btn btn-xs btn-primary">Renew</a>
                                        {/else}
                                    </td>
                                </tr>
                                {/foreach}
                            </tbody>
                        </table>
                    </div>
                    {/if}
                    {else}
                    <div class="panel-body">
                        <p>You are not subscribed to any product.</p>
                    </div>
                    {/else}
                </div>

                <h3 class="page-header">Transactions</h3>
                <div class="panel panel-default">
                    {if ($transactions)}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Amount</th>
                                    <th>Created</th>
                                    <th>Payment Id</th>
                                </tr>
                            </thead>
                            <tbody>
                            {foreach $t in $transactions}
                                {script $m = ucfirst($t->property)}
                                {script $p = $m::first(array("id = ?" => $t->property_id), array("name"))}
                                <tr>
                                    <td>{echo $m}: {echo $p->name}</td>
                                    <td>{echo $t->amount} $</td>
                                    <td>{echo Framework\StringMethods::only_date($t->created)}</td>
                                    <td>{echo $t->payment_id}</td>
                                </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                    {/if}
                    {else}
                    <div class="panel-body">
                        <p>No Transactions till now</p>
                    </div>
                    {/else}
                </div>
            </div>
        </div>
    </div>
</div>
