<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-list"></i> Manage Plans</h3>
            <div class="panel panel-default">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Price (USD)</th>
                            <th>Tax (USD)</th>
                            <th>Period (Days)</th>
                            <th>Created</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $i in $items}
                        <tr>
                            <td>{echo $i->id}</td>
                            <td>{echo $i->name}</td>
                            <td>{echo $i->price}</td>
                            <td>{echo $i->tax}</td>
                            <td>{echo $i->period}</td>
                            <td>{echo Framework\StringMethods::only_date($i->created)}</td>
                            <td>
                                {if $i->live}
                                <a href="/admin/edit/Item/{echo $i->id}/live/0" class="btn btn-xs btn-warning"><i class="fa fa-times"></i> Disapprove</a> {/if} {else}
                                <a href="/admin/edit/Item/{echo $i->id}/live/1" class="btn btn-xs btn-success"><i class="fa fa-check"></i> Approve</a> {/else}
                                <a href="/plan/edit/{echo $i->id}" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> Edit</a>
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                {if ($page != 1)}
                <a href="{echo Shared\Markup::pagination($page - 1)}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Previous</a>
                {/if}
                {if ($page < $count/$limit)}
                <a href="{echo Shared\Markup::pagination($page + 1)}" class="btn btn-primary">Next <i class="fa fa-arrow-right"></i></a>
                {/if}
            </div>

            <p><a href="/plan/create" class="btn btn-info"><i class="fa fa-plus"></i> Create Item</a></p>
        </div>
    </div>
</div>
