<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-center"><i class="fa fa-hashtag"></i> Manage Serps</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {if isset($message)}
                <div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    "Stats are Updated Daily"
                </div>
                {/if}
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>S. No.</th>
                                    <th>Keyword</th>
                                    <th>Website</th>
                                    <th>Status</th>
                                    <th>Rank Old (7 Days)</th>
                                    <th>Rank Today</th>
                                    <th>Change</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {script $rank = Framework\Registry::get("MongoDB")->rank} {script $i = 1} {foreach $serp in $serps}
                                <tr>
                                    <td>{echo $i}</td>
                                    <td>{echo $serp->keyword}</td>
                                    <td>{echo $serp->link}</td>
                                    <td>
                                        {if $serp->live}
                                        <span class="label label-success">Active</span> {/if} {else}
                                        <span class="label label-danger">Disabled</span> {/else}
                                    </td>
                                    {script $date_today = date("Y-m-d")} {script $old_date = date("Y-m-d", strtotime($date_today."-7 day"))} {script $old_rank = $rank->findOne(array("keyword_id" => $serp->id, "created" => $old_date))}
                                    <td>{echo (($old_rank["position"]) ? $old_rank["position"] : 0)}</td>
                                    {script $new_rank = $rank->findOne(array("keyword_id" => $serp->id, "created" => $date_today))}
                                    <td>{echo (($new_rank["position"]) ? $new_rank["position"] : 0)}</td>
                                    {script $change = (int) $new_rank["position"] - (int) $old_rank["position"]}
                                    <td>
                                        {if $change > 0}
                                        <span class="label label-success">{echo $change}</span>
                                        {/if} {else}
                                        <span class="label label-danger">{echo $change}</span>
                                        {/else}
                                    </td>
                                    <td>
                                        <a href="/serp/stats/{echo $serp->id}" class="btn btn-primary btn-xs"><i class="fa fa-label"></i> View Stats</a>
                                        {if $serp->live}
                                        <a href="/serp/changeState/{echo $serp->id}/0" class="btn btn-warning delete btn-xs"><i class="fa fa-ban"></i> Disable</a>
                                        {/if} {else}
                                        <a href="/serp/changeState/{echo $serp->id}/1" class="btn btn-success delete btn-xs"><i class="fa fa-check"></i> Enable</a>
                                        {/else}
                                    </td>
                                </tr>
                                {script ++$i} {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
                <a href="/serp/create" class="btn btn-primary"><i class="fa fa-plus"></i> Add Another Serp</a>
            </div>
        </div>
    </div>
</div>
